main{
    background-color: map-get($map: $bgColor, $key: 'section');
    #titleBebidas, #titleAlimentos{
        @extend .borde;
        @extend .text-center;
        @extend .text-uppercase;
        @extend .textUnderline;
        padding-top: 3rem;
        padding-bottom: 1rem;
        color: map-get($map: $textColor, $key: 'white');
        font-size: $titleLg;
        font-weight: $textReg;
    }

    #accordionBebidas, #accordionAlimentos{
        font-size: $textSm;
        font-weight: $textLight;
        color: map-get($map: $textColor, $key: 'white');
        background-color: map-get($map: $bgColor, $key: 'section');

        #headingOne, #headingTwo, #headingThree, #headingFour, #headingFive, #headingSix, #headingSeven{
            padding-left: 2rem;
            button{
                @extend .borde;
                @extend .text-center;
                @extend .text-uppercase;
                padding-top: 1rem;
                padding-bottom: 1rem;
                color: map-get($map: $textColor, $key: 'gray');
                font-size: $textLg;
                font-weight: $textReg;
                background-color: map-get($map: $bgColor, $key: 'section');
                &:hover{
                    color: map-get($map: $textColor, $key: 'white');
                }
            }
        }

        #collapseOne, #collapseTwo, #collapseThree, #collapseFour, #collapseFive, #collapseSix, #collapseSeven{
            .accordion-body{
                #sectionMenu{
                    margin: 1.5rem 1rem 1.5rem 0;
                    #elementoMenu{
                        @extend .borde;
                        border-color: map-get($map: $paletaColor, $key: 'InputDrop');
                        border-style: solid;
                        border-radius: 1rem;
                        background-color: map-get($map: $paletaColor, $key: 'InputDrop');
                        padding: 0 1rem;
                        margin: 1rem;
                        #elementoSinImg{
                            #containerInfo{
                                margin-top: 1rem;
                                margin-bottom: 1rem;
                                div{
                                    @extend .borde;
                                    h5{
                                        @extend.borde;
                                        @extend .nombreElemento;
                                        margin-left: 1.5rem;
                                    }
                                    p{
                                        @extend .borde;
                                        @extend .descElemento;
                                        margin-left: 1.5rem;
                                    }
                                }
                            }
                        } 

                        #elementoImg{
                            #containerImg{
                                @extend .borde;
                                
                                overflow: hidden;
                                img{
                                    @extend .borde;
                                    @extend .zoomImg;
                                    margin-left: 1rem;
                                    margin-right: 1rem;
                                    width: 150px;
                                    height: 150px;
                                    padding-top: 1rem;
                                    padding-bottom: 1rem;
                                    object-fit: cover;
                                }
                            }
                            #containerInfo{
                                margin-top: 1rem;
                                margin-bottom: 1rem;
                                div{
                                    @extend .borde;
                                    h5{
                                        @extend.borde;
                                        @extend .nombreElemento;
                                        margin-left: 1.5rem;
                                    }
                                    p{
                                        @extend .borde;
                                        @extend .descElemento;
                                        margin-left: 1.5rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #break1Menu, #break2Menu{
        img{
            @extend .img-break;
        }
    }
}